* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 25rem;
  padding: 2rem;
}

.fixed {
  display: flex;
  justify-content: center;
  width: 18rem;
}

.column-fifth {
  padding: 0.25rem;
}

.column-third {
  padding: 0.5rem;
}

.fa-chevron {
  cursor: pointer;
  font-size: 2rem;
}

.fa-circle {
  font-size: 1rem;
}
