* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 10px 85px;
}

.justify-content-center {
  align-self: center;
}

.row {
  display: flex;
}

#blue-logo {
  position: relative;
  width: 185px;
}

.column-half {
  display: flex;
  flex-basis: 50%;
  padding: 20px 73px;
  border-bottom: 1px solid #e7e9ec;
}

.column-fifth {
  display: flex;
  flex-basis: 25%;
  font-family: Avenir, sans-serif;
  font-size: 18px;
  color: #a3a3a3;
}

h4 {
  width: 150px;
  text-align: center;
}

#contact {
  margin-top: 15px;
  font-family: Avenir, sans-serif;
  font-size: 18px;
  height: 45px;
  width: 130px;
  background-color: #294464;
  color: white;
  border-radius: 7%;
}

.column-one {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 165px;
  margin-top: 100px;
  z-index: 2;
}

h1 {
  font-size: 55px;
  width: 675px;
  color: white;
}

p {
  font-size: 20px;
  width: 580px;
  margin-top: -20px;
  margin-bottom: 40px;
  color: white;
}

#start {
  font-family: Avenir, sans-serif;
  font-size: 23px;
  height: 60px;
  width: 230px;
  background-color: #294464;
  color: white;
  border-radius: 7%;
  border-color: transparent;
}

#hero {
  position: absolute;
  width: 1580px;
  right: 160px;
  z-index: -1;
  top: 175px;
  height: 760px;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  top: 175px;
  height: 760px;
  position: absolute;
  width: 1580px;
  right: 160px;
}

.second-body {
  padding-top: 275px;
  color: #6e6e6e;
}

.body-heading {
  font-size: 25px;
  text-align: center;
  width: 580px;
  margin: 0 400px;
}

ul {
  list-style-type: none;
}
